%h1 #{@user.name} home

- if notice
  .alert.alert-success
    = notice

- if alert
  .alert.alert-error
    = alert
    
= form_for @form, url: bookmark_urls_create_path, method: :post, html:{class:"form-horizontal"} do |f|
  - if @form.errors.any?
    .alert.alert-error
      %h4 Form is invalid
      %ul
        - @form.errors.full_messages.each do |m|
          %li=m
  .control-group{class:("error" if @form.errors.messages[:url])}
    = f.label :url, "New Bookmark", class:"control-label"
    .controls
      = f.text_field :url
  .control-group
    .controls
      = f.submit "OK"

= link_to('Log out', destroy_user_session_path, class:'btn btn-info')

  
    
